body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #eea4e6;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}
p {
    color: white;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #d36fba;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: white(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e36be3;
  color: white;
}

.om-mig{
    color: rgb(255, 255, 255);
}
